@{
    ViewBag.Title = "Home Page";
}

<head>
    <link href="@Url.Content("~/Content/Background.css")" rel="stylesheet" type="text/css" />
</head>

<body background="~/Content/Images/Flight.jpg">
    <div class="row">
        <div class="col-md-6" id="lorm_text">
            <h1> Airport management systems</h1>
            <p>
                Airport management systems, as airport software is often called, serve to optimize all these operations: passenger processing,
                baggage tagging and handling, arrival/departure operations, departure control systems, information distribution, and air traffic control (ATC).
            </p>
        </div>

    </div>
</body>
